/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

ul {
  list-style: none;
}

/* UTILS */

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #d3d3d3;
}

.flex {
  display: flex;
}

.button-primary-small {
  background-color: white;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.button-secondary-small {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.button-primary-big {
  background-color: white;
  color: black;
  padding: 20px 30px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
}

.button-secondary-big {
  background-color: #23272a;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-size: 20px;
}

.button-download-big {
  background-color: #7289da;
  color: white;
  padding: 20px 30px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 60px;
}

h1.header-title {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

h1.big-box-title {
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

p.big-box-description {
  font-size: 1.4rem;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: black;
  text-align: left;
  line-height: 1.3;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  margin-bottom: 30px;
  color: #6377ba;
  text-align: left;
}

p {
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: center;
}

p.description {
  font-size: 1.3rem;
  text-align: left;
  color: black;
  line-height: 1.6;
}

p.header-p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  line-height: 1.6;
}

/* HEADER */
.page-header {
  background-color: #add8e7;
}

.header-top {
  padding: 20px 0;
  background-color: #255ee9;
}

.container-header-top {
  justify-content: space-between;
  background-color: #255ee9;
}

nav.box-logo {
  padding: 10px;
  text-align: left;
  width: 250px;
}

nav.box-login {
  padding: 10px;
  text-align: right;
  width: 250px;
  color: white;
}

nav.box-link {
  padding: 10px;
  text-align: center;
  width: 250px;
  flex-grow: 1;
  display: inline-block;
  align-content: center;
}

.link-list {
  display: flex;
  justify-content: space-between;
}

.header-bottom {
  background-color: #00018b;
  padding: 40px 0;
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

.container-header-bottom {
  justify-content: center;
  padding: 20px;
}

.header-bottom .hero {
  flex-grow: 1;
  text-align: center;
}

/* MAIN */

section {
  padding: 60px 0;
}

.large-col {
  flex-basis: 60%;
}

.small-col {
  flex-basis: 40%;
}

.full-col {
  flex-grow: 1;
  text-align: center;
}

.big-grey {
  background-color: #d3d3d3;
  padding: 60px 0;
}

/* FOOTER */

footer {
  background-color: #23272a;
  color: #fff;
  padding-top: 30px;
}

.footer-top {
  padding-bottom: 30px;
  border-bottom: #4a4e51 2px solid;
}

.footer-top-left {
  flex-basis: 24%;
  padding: 40px;
}

.footer-top-right {
  flex-basis: 70%;
}

.footer-info {
  display: flex;
}

.info-col {
  flex-basis: 25%;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.bottom-logo {
  padding: 5px 10px;
  color: black;
}

.bottom-button {
  padding: 5px 10px;
  color: black;
}

.flag {
  display: flex;
  height: 16px;
  gap: 10px;
  margin-bottom: 30px;
}

.social {
  display: flex;
  gap: 20px;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 35px;
}

.first-info {
  color: #6682d8;
}
